.button
{
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-font-size: 25;
	-fx-border-color: #00ced1;
	-fx-border-width: 3;
}


.button:hover
{
	-fx-background-color: #00ced1;
}

.label
{
	-fx-font-size: 25
}